body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: linear-gradient(to bottom right, #202124 70%, #c4302b 30%);
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  font-family: 'Rethink Sans', sans-serif;
}

h1 {
  padding: 15px;
  border: solid;
  border-radius: 25px;
  border-color:#c4302b
}

form {
  text-align: center;
  display: flex;
  flex-direction: column;
}

label, input {
  margin: 5px 0;
}

div {
  text-align: center;
  display: flex;
  flex-direction: column;
}