<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/static/styles.css" rel="stylesheet"> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Rethink+Sans&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>YOUTUBIFY</h1>
    
        <form action="{{ url_for('download') }}" method="post">
            <label for="links">Input youtube url:</label>
            <input type="text" id="links" name="links">
            <input type="submit" value="Download">
        </form>
        {% if message %}
            <p>{{ message }}</p>
        {% endif %}
    </div>
</body>
</html>